nav li {
  list-style: none;
  display: inline;
  color: black;
  margin-right: 30px;
  transition: all 0.3s ease;
}

nav li:hover {
  background-color: rgb(255, 208, 0);
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 2px 2px 5px gray;
}

nav li a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li:hover a {
  color: white;
}