nav ul {
  display: flex;
  /* justify-content: space-between; */
}

nav li {
  list-style: none;
  margin: 10px;
}

nav li a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav li:hover a {
  color: orange;
}