.article {
  background-color: lightcoral;
  color: white;
  border: 10px solid black;
  border-radius: 40px;
  margin: 40px;
  width: 500px;
  box-shadow: 0 0 30px 10px blueviolet;
}

.header {
  height: 500px;
  background-image: url('../pic.jpg');
  background-size: cover;
  background-position: center;
}