/* web first design  */
/* laptop device */
@media screen and (max-width:1200px) {}

/* Tablet device */
@media screen and (max-width:1200px) {}

/* Big Mobile device */
@media screen and (max-width:1200px) {}

/* normal mobile device */
@media screen and (max-width:1200px) {}

/* Device specific media query */
@media screen and (min-width:576px) and (max-width:992px) {}