* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3B4953;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

form {
  background-color: #5A7863;
  border: 2px solid #5A7863;
  box-shadow: 0 0 20px #5A7863;
  border-radius: 20px;
  padding: 30px;
}

form label {
  font-size: 1.05rem;
}

form input {
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;
}

h2 {
  color: #EBF4DD;
  font-size: 2rem;
  font-weight: 700;
}

button {
  padding: 5px 15px;
  background-color: #90AB8B;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}